<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chaos.Dao.EmployeeDao">
	<!--设置domain类和数据库中表的字段一一对应，注意数据库字段和domain类中的字段名称不致，此处一定要！ -->
	<resultMap id="BaseResultMap" type="com.chaos.Domain.Employee">
		<id column="Id" property="Id" jdbcType="INTEGER" />
		<result column="EmployeeNO" property="EmployeeNO" jdbcType="CHAR" />
		<result column="RealName" property="RealName" jdbcType="CHAR" />
		<result column="Password" property="Password" jdbcType="CHAR" />
		<result column="Role" property="Role" jdbcType="CHAR" />
		<result column="Department" property="Department" jdbcType="CHAR" />
	</resultMap>
	<!-- 查询单条记录 -->
	<select id="selectEmployeeByNo" parameterType="String" resultMap="BaseResultMap">
		SELECT * FROM employee WHERE EmployeeNo = #{EmployeeNo,jdbcType=VARCHAR}
	</select>
	
</mapper>